In [107]:
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Create a synthetic mixed data dataset
# data = {
#     'Category': ['TIRE', 'PETRON OIL', 'TIRE', 'PITO', 'TIRE', 'TIRE', 'HORN', 'ALLEN WRENCH', 'JRP SEAT', 'TIRE'],
#     'Numeric1': [225.00, 120.00, 60.00, 140.00, 150.00, 100.00, 16.00, 300.00, 150.00, 100.00], # price
#     'Numeric2': [1, 2, 3, 6, 9, 5, 3, 4, 3, 5] #item 
# }

data = pd.read_csv('al.csv')
data['QUANTITY'].fillna(1, inplace=True)


df = pd.DataFrame(data)

print(df)

   ID TRANSACTION  BRAND          ITEM  QUANTITY    PRICE        DATE
0   1          T1  HONDA    PETRON OIL       1.0  ₱225.00  01/03/2023
1   2          T1  HONDA   TIRE SYLANT       1.0  ₱120.00  01/03/2023
2   3          T1  HONDA          PITO       1.0   ₱60.00  01/03/2023
3   4          T1  HONDA     TIRE GOMA       1.0  ₱140.00  01/03/2023
4   5          T1  HONDA     TIRE GOMA       1.0  ₱150.00  01/03/2023
5   6          T1  HONDA          HORN       1.0  ₱100.00  01/03/2023
6   7          T1  HONDA  ALLEN WRENCH       1.0   ₱16.00  01/03/2023
7   8          T1  HONDA      JRP SEAT       1.0  ₱300.00  01/03/2023
8   9          T1  HONDA     TIRE GOMA       1.0  ₱150.00  01/03/2023

In [ ]:
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Create a synthetic mixed data dataset
# data = {
#     'Category': ['TIRE', 'PETRON OIL', 'TIRE', 'PITO', 'TIRE', 'TIRE', 'HORN', 'ALLEN WRENCH', 'JRP SEAT', 'TIRE'],
#     'Numeric1': [225.00, 120.00, 60.00, 140.00, 150.00, 100.00, 16.00, 300.00, 150.00, 100.00], # price
#     'Numeric2': [1, 2, 3, 6, 9, 5, 3, 4, 3, 5] #item 
# }

data = pd.read_csv('al.csv')

data['QUANTITY'].fillna(1, inplace=True)

df = pd.DataFrame(data)

# Encode categorical data
label_encoder = LabelEncoder()

cat_columns = df[['ID', 'TRANSACTION', 'BRAND', 'ITEM', 'PRICE', 'DATE']]
df['Category_encoded'] = label_encoder.fit_transform(cat_columns)

# Scale numerical data
scaler = StandardScaler()

num_columns = df['QUANTITY']
df[['Numeric1', 'Numeric2']] = scaler.fit_transform(num_columns)

# Define the number of clusters (k)
k = 4

# Initialize and fit k-Prototypes model
kproto = KPrototypes(n_clusters=k, init='Cao', verbose=0)
clusters = kproto.fit_predict(df.values, categorical=[0, 1, 2, 3, 5, 6])  # Specify that 'Category_encoded' is categorical

# Add cluster labels to the DataFrame
df['Cluster'] = clusters

# Plot the clusters
plt.figure(figsize=(9, 6))
for cluster in range(k):
    cluster_data = df[df['Cluster'] == cluster]
    plt.scatter(
        cluster_data['Numeric1'],
        cluster_data['Category_encoded'],
        label=f'Cluster {cluster + 1}'
    )

plt.title(f'k-Prototypes Clustering (k={k})')
plt.xlabel('Numeric1')
plt.ylabel('Numeric2')
# plt.legend()
plt.grid(True)
plt.show()

In [ ]:
print(df['Category_encoded'])

0    5
1    3
2    5
3    4
4    5
5    5
6    1
7    0
8    2
9    5
Name: Category_encoded, dtype: int64

In [ ]:
print(df)

       Category  Numeric1  Numeric2  Category_encoded  Cluster
0          TIRE  1.164818 -1.431447                 5        0
1    PETRON OIL -0.210951 -0.969690                 3        2
2          TIRE -0.997105 -0.507933                 5        1
3          PITO  0.051100  0.877338                 4        1
4          TIRE  0.182126  2.262610                 5        1
5          TIRE -0.473002  0.415581                 5        1
6          HORN -1.573617 -0.507933                 1        2
7  ALLEN WRENCH  2.147509 -0.046176                 0        3
8      JRP SEAT  0.182126 -0.507933                 2        2
9          TIRE -0.473002  0.415581                 5        1