In [5]:
# Import libraries
import random
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
data = pd.read_csv('dataset.csv')
data.head()

   ID TRANSACTION  BRAND         ITEM  QUANTITY    PRICE        DATE
0   1          T1  HONDA   PETRON OIL       NaN  ₱225.00  01/03/2023
1   2          T1  HONDA  TIRE SYLANT       NaN  ₱120.00  01/03/2023
2   3          T1  HONDA         PITO       NaN   ₱60.00  01/03/2023
3   4          T1  HONDA    TIRE GOMA       NaN  ₱140.00  01/03/2023
4   5          T1  HONDA    TIRE GOMA       NaN  ₱150.00  01/03/2023

In [2]:
data.info()

NameError: name 'data' is not defined